p{
font-size: 20px;
}

h1{
  color: red;
 }

 div
{
     margin: 0;
     padding: 0;
     text-align: center;
     margin-top: 30px;
}

img {
    display: block;
    margin: 0 auto;
}

.clear {
    clear: both;    
  }

#iphone-container {
	background-image: url('https://group.yoc.com/fileadmin/video/handy/iphone_placeholder.png');
	background-repeat: no-repeat;
	background-size:contain;
	max-width:100%;
	height:700px;
}

#iphone-container>.img2{
	width:200px;
	height:auto;
	padding-top: 90px;
}

body {
	max-width: 100vw;
}



